[devices.freezer]
_class = "FreezerWatcher"
name = 'Холодильник'
description = 'Устройство для созревания сыра, подставка для котиков'

[devices.curtain-sleeping-room]
_class = "WbCurtain"
_mqtt_used = true
name = "Штора"
description = "Штора в спальне"
room = "Спальня"
direction_status_path = "/devices/wb-gpio/controls/EXT1_DIR1"
motor_status_path = "/devices/wb-gpio/controls/EXT1_ON1"
direction_control_path = "/devices/wb-gpio/controls/EXT1_DIR1/on"
motor_control_path = "/devices/wb-gpio/controls/EXT1_ON1/on"
action_time_seconds = 25

[devices.sensor-balcony]
_class = "WbSensor"
_mqtt_used = true
name = 'Датчик'
description = 'Датчик на балконе'
room = 'Балкон'
temperature_path = '/devices/wb-msw-v3_100/controls/Temperature'
humidity_path = '/devices/wb-msw-v3_100/controls/Humidity'
illuminance_path = '/devices/wb-msw-v3_100/controls/Illuminance'
sound_level_path = '/devices/wb-msw-v3_100/controls/Sound Level'

[devices.ac-sleeping-room]
_class = "WbRtdRa"
_mqtt_used = true
name = 'Кондиционер'
description = 'Кондиционер в спальне'
room = 'Спальня'
device_path = '/devices/RTD-NET_10/controls'
